.header {
    display: flex;
    font-size: 1.2em;
    gap: 50px;
    justify-content: space-around;
    line-height: 1.8em;
    padding: 4em;
    width: 100%;
}

.div_sobre {
    width: 50%;
}

.div_sobre p {
    text-align: justify;
    text-indent: 1em;
}

.div_sobre h4 {
    font-weight: 400;
}

.div_sobre a {
    text-decoration: none;
}

.h1About {
    font-size: 2.5em;
    line-height: 1em;
    padding-bottom: 10px;
}

.hr {
    margin: 20px 0;
}

.img {
    width: 30vw;
}

.div_sobre div {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.imgDiv {
    margin: 20px 0;
    width: 20vw;
}

.img4 {
    display: none;
}

.div_button {
    background-color: var(--bgWhite);
    display: flex;
    justify-content: center;
    padding: 1.5em;
}

.div_button li {
    background: transparent;
    border: 2px solid #2c2c2c;
    cursor: pointer;
    list-style: none;
    padding: 1em 3em;
}

.div_button li:hover {
    background-color: var(--bgClear);
}

.div_button li a {
    font-size: 1.2em;
    text-decoration: none;
    padding: 1em 3em;
}

@media screen and (max-width: 768px) {

    .header {
        flex-direction: column-reverse;
        justify-content: center;
        line-height: 1.4em;
        padding: 1em;
    }

    .div_sobre {
        width: 100%;
    }

    .h1About {
        font-size: 2em;
        line-height: 1.2em;
    }

    .img {
        display: none;
    }

    .img4 {
        display: block;
        width: 100%;
    }

    .imgDiv {
        max-width: 40vw;
        margin-right: 10px;
        width: auto;
    }

    .div_button li {
        padding: 0.8em 2em;
    }
}

@media screen and (max-width: 425px) {
    .img {
        display: block;
        width: 100%;
    }

    .img4 {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .div_button li a {
        padding: 0;
    }
}