.experience {
   font-size: 1.2em;
   line-height: 1.8em;
   width: 100%;
   padding: 3em 4em;
}

.h1Experience {
   font-size: 2em;
   padding-bottom: 1em;
   text-align: center;
}

.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

@media screen and (max-width: 1440px) {
   .cards {
      justify-content: space-around;
   }
}

@media screen and (max-width: 768px) {
   .experience {
      padding: 2em;
   }
}

@media screen and (max-width: 425px) {
   .experience {
      font-size: 1.1em;
      line-height: 1.4em;
      padding: 1em;
   }
}