.header {
    align-items: flex-start;
    background-color: var(--bgGray);
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}

.img2 {
    display: none;
}

.div_animation {
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 50vw;
}

.waves {
    bottom: 0;
    height: 100vh;
    left: 0;
    position: absolute;
    right: 0;
}

.wave1 {
    animation: moveWave1 3s ease-in-out infinite alternate;
}

.wave2 {
    animation: moveWave2 3s 1s ease-in-out infinite alternate;
}

.div_sobre {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 2.5em;
    position: absolute;
    text-align: center;
    z-index: 3;
}

.div_sobre h1 {
    font-size: 2.5em;
}

.div_sobre span {
    color: #585858;
}

.div_sobre li {
    background: transparent;
    border: none;
    cursor: pointer;
    list-style: none;
    margin-top: 1em;
    padding: 1em 3em;
    position: relative;

}

.div_sobre li::after {
    background-color: var(--bgDark);
    bottom: 0;
    content: " ";
    height: 2px;
    left: 0;
    position: absolute;
    transition: .5s ease-in-out;
    width: 0%;

}

.div_sobre li:hover::after {
    width: 100%;
}

.div_sobre li a {
    font-size: 1.2em;
    text-decoration: none;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em;
    text-align: center;
    /* margin: 0 auto; */
}

.skills h2 {
    padding-bottom: 1em;
    text-decoration: underline;
}

.skills div {
    margin: 0 auto;
    display: flex;
    max-width: 50vw;
    flex-wrap: wrap;
    justify-content: center;
}

.skills div img {
    width: 80px;
    margin: 1em;
}

.skills div img:hover {
    opacity: .9;
}


@keyframes moveWave1 {
    from {
        transform: translateX(-90px);
    }
}

@keyframes moveWave2 {
    from {
        transform: translateX(-100px);
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .img {
        display: none;
    }

    .img2 {
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        width: 100%;
        z-index: 1;
    }

    .div_animation {
        display: flex;
        height: 80vh;
        justify-content: center;
        width: 100%;
    }

    .div_sobre li {
        border: 1px solid #2c2c2c;
        cursor: pointer;
        margin-top: 1em;
        padding: 1em 3em;
        position: relative;
        transition: .2s ease-in-out;
    }

    .div_sobre li:hover {
        color: var(--textDark);
    }

    .div_sobre li:hover::after {
        width: 0%;
    }
}


@media screen and (max-width: 425px) {
    .img {
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        width: 100%;
    }

    .img2 {
        display: none;
    }

    .div_sobre {
        padding: 0 1em;
    }

    .skills div {
        max-width: 80vw;
    }
}