* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  --bgWhite: #fff;
  --bgClear: #F7F5F1;
  --bgGray: #E6E2D7;
  --bgDark: #221E1F;
  --textDark: #2c2c2c;
  --textLight: #fff;
}

html,
body,
#root {
  color: var(--textDark);
  background-color: var(--bgClear);
  height: 100%;
  overflow-x: hidden;
  /*evita o scroll*/
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

a {
  color: var(--textDark);
}